<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello mother fucher</title>
</head>
<body>

<div class="site-wrapper">
    <div class="cover-container">
        <div class="inner cover">

        </div>
        <div class="mastfoot">
            <hr/>
            <div class="container">
                <div style="margin-top:5%">
                    <h1 style="color:black">Road Extraction</h1>
                    <h4 style="color:black">Upload new Image </h4>
                    <form method=POST  action="/process" enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit style="color:black;" value=Upload>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>